.movie-info-banner
{
    width: 1160px;
    margin: 0 auto;
}
.movie-info
{
    float: left;
    overflow: hidden;

    width: 700px;
    min-height: 400px;
    margin-top: 20px;
}

.alert-content img
{
    float: left;

    width: 138px;
    height: 192px;
}
.alert-content h1
{
    font-size: 24px;

    padding-bottom: 10px;

    color: rgba(0,0,0,.6);
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.alert-content p
{
    line-height: 18px;

    float: left;

    width: 50%;
    height: 18px;
    margin: 3px 0;
    padding: 0 20px;
}
.mockp
{
	min-height: 18px;
	max-height: 54px;
	overflow: hidden;
	line-height: 18px;
	float: left;
	width: 500px;
	margin: 3px 0;
	padding: 0 20px;

}
.alert-content div.describe
{
    line-height: 24px;

    float: left;

    width: 100%;
    margin: 20px 0;
    padding: 5px 0;

    border-bottom: 1px solid rgba(0,0,0,.1);
}

.movie-info-banner nav
{
    float: left;
}
.movie-info-banner i
{
    font-size: 12px;
    font-weight: bold;
}

.comment-list-banner
{
    float: left;
    overflow: hidden;

    width: 700px;
    min-height: 100px;
    margin-top: 20px;
}
.comment-list
{
    float: left;
    width: 700px;
    overflow: hidden;

    min-height: 100px;
}
.comment-list > li
{
	color: rgba(0,0,0,0.7);
	min-height: 100px;
	max-height: 120px;
	overflow: hidden;
	width: inherit;
	margin-bottom: 20px;
}
.comment-list > li .comment-content
{
	line-height: 24px;
	font-size: 12px;
	margin-top: 12px;
}

textarea#comment-textarea
{
    width: 700px;
    height: 120px;
    resize: none;
    outline: none;
    line-height: 18px;
    font-size: 12px;
    color: rgba(0,0,0,0.7);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    padding: 8px;
}
textarea#comment-textarea:focus
{
    border: 1px solid #4fca6c;
}
.comment-button
{
    width: 60px;
    height: 36px;
    cursor: pointer;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    background-color: #3fa156;

    margin-top: 20px;
}